<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BankingSuite">
  <test thread-count="5" name="BankingTest">
    <classes>
      <class name="banking.BankingProject2"/>
    </classes>
  </test> <!-- BankingTest -->
</suite> <!-- BankingSuite -->
